validator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- ========================================================= -->
    <!--  SIMPLE TYPES                                             -->
    <!-- ========================================================= -->

    <!-- Časový formát – jen celé půlhodiny (00, 30) -->
    <xs:simpleType name="timeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([01][0-9]|2[0-3]):(00|30)"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Číslo haly – A-D + 01-30 -->
    <xs:simpleType name="hallNumberType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-D](0[1-9]|[12][0-9]|30)"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Kategorie exhibitorů – výčet, lze rozšířit -->
    <xs:simpleType name="categoryType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Security"/>
            <xs:enumeration value="Technology"/>
            <xs:enumeration value="Software"/>
            <xs:enumeration value="Mix"/>
            <xs:enumeration value="Startup"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- E-mail – základní regex -->
    <xs:simpleType name="emailType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- URL – http/https -->
    <xs:simpleType name="urlType">
        <xs:restriction base="xs:string">
            <xs:pattern value="https?://.+"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Typ scény (talks, workshop, games) -->
    <xs:simpleType name="stageIdType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="talks"/>
            <xs:enumeration value="workshop"/>
            <xs:enumeration value="games"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Velikost scény -->
    <xs:simpleType name="stageSizeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="large"/>
            <xs:enumeration value="medium"/>
            <xs:enumeration value="small"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ID události – t1, w1, g1 atd. -->
    <xs:simpleType name="eventIdType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[twg][0-9]+"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ========================================================= -->
    <!--  COMPLEX TYPES                                            -->
    <!-- ========================================================= -->

    <!-- Exhibitor (stánek) -->
    <xs:complexType name="exhibitorType">
        <xs:sequence>
            <xs:element name="name"           type="xs:string"/>
            <xs:element name="company"        type="xs:string"/>
            <xs:element name="category"       type="categoryType"/>
            <xs:element name="location"       type="hallNumberType"/>
            <xs:element name="content"        type="xs:string"/>
            <xs:element name="website"        type="urlType"/>
            <xs:element name="representative" type="xs:string"/>
            <xs:element name="contactEmail"   type="emailType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    </xs:complexType>

    <!-- Kolekce exhibitorů – min. 60, max. 80 -->
    <xs:complexType name="exhibitorsType">
        <xs:sequence>
            <xs:element name="exhibitor"
                        type="exhibitorType"
                        minOccurs="60"
                        maxOccurs="80"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Stage (scéna) -->
    <xs:complexType name="stageType">
        <xs:attribute name="id"   type="stageIdType"   use="required"/>
        <xs:attribute name="type" type="stageSizeType" use="required"/>
        <xs:attribute name="name" type="xs:string"     use="required"/>
    </xs:complexType>

    <!-- Kolekce scén – přesně 3 -->
    <xs:complexType name="stagesType">
        <xs:sequence>
            <xs:element name="stage" type="stageType" minOccurs="3" maxOccurs="3"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Programová položka -->
    <xs:complexType name="eventType">
        <xs:sequence>
            <xs:element name="title"     type="xs:string"/>
            <xs:element name="presenter" type="xs:string"/>
            <xs:element name="time"      type="timeType"/>
        </xs:sequence>
        <xs:attribute name="id"       type="eventIdType" use="required"/>
        <xs:attribute name="stageRef" type="stageIdType" use="required"/>
    </xs:complexType>

    <!-- Den festivalu – obsahuje min. 2 události (alespoň 2 scény musí hrát) -->
    <xs:complexType name="dayType">
        <xs:sequence>
            <xs:element name="event" type="eventType" minOccurs="2" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id"   type="xs:positiveInteger" use="required"/>
        <xs:attribute name="date" type="xs:date"            use="required"/>
    </xs:complexType>

    <!-- Program – min. 3, max. 5 dnů -->
    <xs:complexType name="programType">
        <xs:sequence>
            <xs:element name="day" type="dayType" minOccurs="3" maxOccurs="5"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========================================================= -->
    <!--  ROOT ELEMENT                                             -->
    <!-- ========================================================= -->

    <xs:element name="festival">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="exhibitors" type="exhibitorsType"/>
                <xs:element name="stages"     type="stagesType"/>
                <xs:element name="program"    type="programType"/>
            </xs:sequence>
            <xs:attribute name="name"      type="xs:string"        use="required"/>
            <xs:attribute name="edition"   type="xs:positiveInteger" use="required"/>
            <xs:attribute name="location"  type="xs:string"        use="required"/>
            <xs:attribute name="startDate" type="xs:date"          use="required"/>
            <xs:attribute name="endDate"   type="xs:date"          use="required"/>
        </xs:complexType>

        <!-- ============================================== -->
        <!--  KLÍČE – jedinečnost ID                        -->
        <!-- ============================================== -->

        <!-- Unikátní ID exhibitorů -->
        <xs:unique name="uniqueExhibitorId">
            <xs:selector xpath="exhibitors/exhibitor"/>
            <xs:field xpath="@id"/>
        </xs:unique>

        <!-- Unikátní umístění (location) -->
        <xs:unique name="uniqueExhibitorLocation">
            <xs:selector xpath="exhibitors/exhibitor"/>
            <xs:field xpath="location"/>
        </xs:unique>

        <!-- Unikátní ID událostí -->
        <xs:unique name="uniqueEventId">
            <xs:selector xpath="program/day/event"/>
            <xs:field xpath="@id"/>
        </xs:unique>

        <!-- Unikátní ID dnů -->
        <xs:unique name="uniqueDayId">
            <xs:selector xpath="program/day"/>
            <xs:field xpath="@id"/>
        </xs:unique>

        <!-- StageRef v eventech musí odpovídat existující stage -->
        <xs:key name="stageKey">
            <xs:selector xpath="stages/stage"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="stageRefKey" refer="stageKey">
            <xs:selector xpath="program/day/event"/>
            <xs:field xpath="@stageRef"/>
        </xs:keyref>

    </xs:element>

</xs:schema>
    <!-- E‑mail – jednoduchý regulární výraz -->
    <xs:simpleType name="email">
        <xs:restriction base="xs:string">
            <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- URL – základní kontrola (http/https) -->
    <xs:simpleType name="url">
        <xs:restriction base="xs:string">
            <xs:pattern value="https?://.+"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ========================================================= -->
    <!--  COMPLEX TYPES                                            -->
    <!-- ========================================================= -->

    <!-- Den festivalu – musí mít alespoň 2 venues -->
    <xs:complexType name="day">
        <xs:sequence>
            <xs:element name="venue" type="xs:string" minOccurs="2" maxOccurs="unbounded"/>
            <xs:element name="eventTime" type="time" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="date" type="xs:date" use="optional"/>
    </xs:complexType>

    <!-- Exhibitor (stánek) -->
    <xs:complexType name="exhibitor">
        <xs:sequence>
            <xs:element name="name"          type="xs:string"/>
            <xs:element name="company"       type="xs:string"/>
            <xs:element name="category"      type="category"/>
            <xs:element name="location"      type="hallNumber"/>
            <xs:element name="content"       type="xs:string"/>
            <xs:element name="website"       type="url"/>
            <xs:element name="representative" type="xs:string"/>
            <xs:element name="contactEmail"  type="email"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>

    <!-- Kolekce exhibitorů – minimálně 60, maximálně 80 (aby byl prostor pro startupy) -->
    <xs:complexType name="exhibitors">
        <xs:sequence>
            <xs:element name="exhibitor"
                        type="exhibitor"
                        minOccurs="60"
                        maxOccurs="80"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Stage (scéna) – typ určuje velikost -->
    <xs:complexType name="stage">
        <xs:attribute name="id"   type="xs:string" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Event (programová položka) – může patřit k libovolné stage -->
    <xs:complexType name="event">
        <xs:sequence>
            <xs:element name="title"      type="xs:string"/>
            <xs:element name="presenter"  type="xs:string"/>
            <xs:element name="time"       type="time"/>
        </xs:sequence>
        <xs:attribute name="id"        type="xs:integer" use="required"/>
        <xs:attribute name="stageRef"  type="xs:string"  use="required"/>
    </xs:complexType>

    <!-- ========================================================= -->
    <!--  ROOT ELEMENTS                                             -->
    <!-- ========================================================= -->

    <!-- Hlavní element festivalu -->
    <xs:element name="festival">
        <xs:complexType>
            <xs:sequence>
                <!-- Globální metadata festivalu -->
                <xs:element name="name"       type="xs:string"/>
                <xs:element name="edition"    type="xs:integer"/>
                <xs:element name="location"   type="xs:string"/>
                <xs:element name="startDate"  type="xs:date"/>
                <xs:element name="endDate"    type="xs:date"/>

                <!-- Dny (min. 3) -->
                <xs:element name="day"
                            type="day"
                            minOccurs="3"
                            maxOccurs="5"/>

                <!-- Scény (talks, workshops, games) -->
                <xs:element name="stages">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="stage" type="stage" minOccurs="3" maxOccurs="3"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Exhibitors (statické stánky) -->
                <xs:element name="exhibitors" type="exhibitors"/>
            </xs:sequence>
            <!-- Volitelné atributy festivalu (např. id) – lze doplnit -->
        </xs:complexType>
    </xs:element>

</xs:schema>
